*{
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
header{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    padding: 8px;
    border: 1px solid #131211;
    border-radius: 20px;
}
header ul li a{
    color: #7d65e4;
    text-transform: uppercase;
    text-decoration: 1px ;
    transition: all ease 0.5s;
}
header ul li a:hover{
    color: #131211;
}
.wrapper1{
    margin:  auto;
    padding: 50px;
    padding-bottom: 15px;
    display: inline-block;
    text-transform: 0 15px 10px  rgba(0, 0, 0, 0.2);
}
.conatiner{
    display: grid;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
}
.box{
    padding: 10px;
    width: 480px;
    background-color: #777;
    display: inline-block;
    justify-content: center;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.box img{
    height: 200px;
    width: 450px;

}
.box h3{
    color: #444;
    padding: 30px 0;
    font-size: 20px;
}
.box p{
    color: #777;
    width: 300px;
    font-size: 18px;
    line-height: 1.6;
}
.box:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3;
}
@media(max-width:770px){
    .wrapper1{
        padding: 20px;
    }
}
